# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Bb]uild[Ll]og.*

# NuGet packages
*.nupkg
packages/
*.snupkg

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Database
*.mdf
*.ldf

# Others
*.log
*.db
*.sqlite
*.bak
*.tmp
*.pid

# Secrets
appsettings.*.json
secrets.json

# ReSharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/

# JetBrains
*.sln.iml

# Windows Thumbnail cache
Thumbs.db

# Mac junk
.DS_Store